# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
assets/js/dist

# Literatur
assets/persoenlichkeitsentwicklung/Job Crafting mit PERMA-H-Modell.pdf
assets/projektmanagement/2023-06-04 PM-Toolchain Uebersicht.pptx
assets/projektmanagement/2023-09-30_kommunikationskanaele_uebersicht.pptx
assets/projektmanagement/encoway-Das wie, wo, was der Kommunikation.html
assets/projektmanagement/encoway-Das wie, wo, was der Kommunikation.pdf
assets/projektmanagement/encoway-Etikette für digitale Kommunikation.pdf
assets/projektmanagement/encoway-Leitlinien für gute interne Kommunikation.pdf
assets/projektmanagement/encoway-Productivity Hacks.html
assets/projektmanagement/encoway-Productivity Hacks.pdf
assets/projektmanagement/encoway-Übersicht der Kommunikationskanäle mit Benutzungshinweisen.pdf
assets/projektmanagement/encoway-Etikette für digitale Kommunikation.pdf
assets/projektmanagement/encoway-Leitlinien für gute interne Kommunikation.pdf
assets/projektmanagement/encoway-Übersicht der Kommunikationskanäle mit Benutzungshinweisen.pdf
assets/softwareentwicklung/2024-02-28 Wenn SWE Kuchen backen wäre.pptx
